<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='style_catalog.css')}}">

</head>
<body>
   <header>
      <nav>
         <div class = "nav_bar">
            <div id="logo">
               <a>DSCI_551_project</a>
            </div>
            <div id = "links">
               <a href="index.html">Home</a>
               <a href="recommendations.html">Recommendations</a>
               <a href="catalog.html">Catalog</a>
            </div>
         </div>
      </nav>
   </header>

   <div class = 'main_heading'>
      <div class = 'box_header'>
         <h1>Welcome to the catalog</h1>
      </div>
      <h2>Please choose your favorite movies!</h2>
   </div>

   <section>
      <form action="catalog.html" method="post">
         <div class = 'catalog'>
            {% for movie in movies %}
            <div class = 'horizontal_check'>
               <input type="checkbox" name="like_movies" value= "{{movie.title}}"/> 
               <label for="like_movies" class="strikethrough"> {{movie.title}} </label>
            </div>
            {% endfor %}
         </div>
         <div id = "favorite_button">
            <button type="submit" id="favorite"><strong>Add</strong></button>
         </div>
      </form>
   </section>

</body>
</html>